<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Age Toomet</title>
	<script src="first.js" defer></script>
	<script src="class_2.js" defer></script>
</head>
<body>
  <img src="images/vp_banner_2024.png" alt="veebiprogrameerimise 2024 aasta kursuse bänner">
	<h1>Age Toomet</h1>
	<p>Lehe külastamine omal vastutusel!</p>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
		<a href="/visitlog">Registreeritud külastused</a>
	</ul>
	<hr>
	<h2>Lisa filmitegelane</h2>
	<form method="POST">
		<label for="firstNameInput">Sisesta oma eesnimi:</label>
		<input id="firstNameInput" type="text" name="firstNameInput" placeholder="Eesnimi..." > 
		<br>
		<label for="lastNameInput">Sisesta oma perekonnanimi:</label>
		<input id="lastNameInput" type="text" name="lastNameInput" placeholder="Perekonnanimi...">
		<br>
		<label for="birthDateInput">Sisesta sünnikuupäev:</label>
		<input type="date" id="birthDateInput" name="birthDateInput">
		<input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
	</form>
	
	<hr>
</body>
</html>