<!DOCTYPE html>
<html lang="et"> 
<head>
	<meta charset="utf-8">
	<title>Age Toomet</title>
	<script type="text/javascript" data-name="TokenSigning" data-by="Web-eID extension"></script>
</head>
<body>
	<img src="images/vp_banner_2024.png" alt="veebiprogrameerimise 2024 aasta kursuse bänner">
	<h1>Age Toomet</h1>
	<p>
		See leht on loodud õppetöö raames 
		<a href="https://www.tlu.ee">Tallinna ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali.
	</p>
	<hr>
	<ul>
		<li><a href="/timenow">Ajainfo</a></li>
		<li><a href="/vanasonad">Vanasõnad</a></li>
		<li><a href="/regvisit">Registreeri oma külastus (pane nimi tekstifaili kirja)</a></li>
		<li><a href="/regvisitdb">Registreeri oma külastus (pane nimi andmebaasi kirja)</a></li>
		<li><a href="/visitlog">Registreeritud külastajad</a></li>
		<li><a href="/eestifilm">Eesti filmid</a></li>
		
	</ul>
	<hr>
</body>
</html>